.xy{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    margin-left: 10px;
    gap: 20px;
  }
.imge{
    height: 25px;
    width: 25px;
}
.header{
  background-color: #000000 ;
}
.mar{
  margin-top: -15px;
}
.search{
  border: 1px solid rgb(255, 255, 255);
  height: 30px;
  width: 400px;
  margin-bottom: -500px;
  margin-left: 350px;
  border-radius: 50px;
  background-color: #282626;
  color: rgb(255, 255, 255);
}
.searchbox{
  position: absolute;
  margin-top: -40px;
}