/* YourComponent.css */

.starting-animation-container {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    /* overflow: hidden; */
  }
  
  .starting-animation {
    opacity: 0;
    animation: fadeInWords 4s forwards;
    white-space: nowrap;
  }
  
  .word {
    display: inline-block;
    opacity: 0;
    animation: fadeInWord 1s forwards;
    font-size: 130px;
  }
  
  @keyframes fadeInWords {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInWord {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Delay the start of each word animation */
  .word:nth-child(2) {
    animation-delay: 1s;
  }
  
  .word:nth-child(3) {
    animation-delay: 2s;
  }
  
  .word:nth-child(4) {
    animation-delay: 3s;
  }
  